<div>
    <h2 id="page-heading">
        <span>Addresses</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-${comp}" [routerLink]="['/${comp}/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Address
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="${comp}es?.length === 0">
        <span>No ${comp}es found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="${comp}es && ${comp}es.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="address1"><span>Address 1</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="address2"><span>Address 2</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="city"><span>City</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="postcode"><span>Postcode</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="country"><span>Country</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="customer.id"><span>Customer</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ${comp} of ${comp}es ;trackBy: trackId">
                    <td><a [routerLink]="['/${comp}', ${comp}.id, 'view']">{{ ${comp}.id }}</a></td>
                    <td>{{ ${comp}.address1 }}</td>
                    <td>{{ ${comp}.address2 }}</td>
                    <td>{{ ${comp}.city }}</td>
                    <td>{{ ${comp}.postcode }}</td>
                    <td>{{ ${comp}.country }}</td>
                    <td>
                        <div *ngIf="${comp}.customer">
                            <a [routerLink]="['/customer', ${comp}.customer?.id, 'view']" >{{ ${comp}.customer?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/${comp}', ${comp}.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/${comp}', ${comp}.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(${comp})"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="${comp}es && ${comp}es.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
