<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="${comp}">
            <h2><span>Address</span> {{ ${comp}.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Address 1</span></dt>
                <dd>
                    <span>{{ ${comp}.address1 }}</span>
                </dd>
                <dt><span>Address 2</span></dt>
                <dd>
                    <span>{{ ${comp}.address2 }}</span>
                </dd>
                <dt><span>City</span></dt>
                <dd>
                    <span>{{ ${comp}.city }}</span>
                </dd>
                <dt><span>Postcode</span></dt>
                <dd>
                    <span>{{ ${comp}.postcode }}</span>
                </dd>
                <dt><span>Country</span></dt>
                <dd>
                    <span>{{ ${comp}.country }}</span>
                </dd>
                <dt><span>Customer</span></dt>
                <dd>
                    <div *ngIf="${comp}.customer">
                        <a [routerLink]="['/customer', ${comp}.customer?.id, 'view']">{{ ${comp}.customer?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/${comp}', ${comp}.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
